.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    &__logo{
        max-width: 65px;
        display: flex;
        align-items: center;
        gap: 1rem;

        img{
            max-width: 100%;
            height: auto;
        }
        h2{
            font-size: 2rem;
            font-weight: 600;
            white-space: nowrap;
        }
    }
    &__menu{
        position: absolute;
        top: 50%;
        left: 0;
        translate: 0 -50%;
        transition: 0.25s;
        display: flex;
        justify-content: space-between;
        width: 200px;
        gap: 1rem;
        font-size: 1.25rem;
        overflow: hidden;
        &.open{
            transform: translateY(0) translateX(-150%);
        }
        &.closed{
            transform: translateY(-200%) translateX(-150%);
            opacity: 0;
        }
    }
    &__hamburger{
        position: relative;
        width: 65px;
        height: 65px;
        &__button{
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 100%;
            padding: 1rem;
            border: 3px solid var(--quaternary);
            background-color: var(--tertiary);
            transform-origin: center;
            transition: 0.25s all;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .hamburger{
                z-index: 1;
                fill: var(--quaternary);
                .line{
                    transition: 0.25s;
                    transform-origin: center;
                    &__top{

                    }
                    &__middle{
    
                    }
                    &__bottom{
    
                    }
                }
                
            }
            &[aria-expanded="true"]{
                
                &::before{
                    content: '';
                    transition: 0.25s all;
                    width: 100%;
                    height: 100%;
                }
                .line{
                    &__top{
                        y: 45;
                        rotate: 45deg;
                    }
                    &__middle{
                        opacity: 0;
                    }
                    &__bottom{
                        y: 45;
                        rotate: -45deg;
                    }
                }
            }
            &[aria-expanded="false"]{
                &::before{
                    content: '';
                    transition: 0.25s all;
                    width: 75%;
                    height: 75%;
                }
                .line{
                    &__top{

                    }
                    &__middle{
    
                    }
                    &__bottom{
    
                    }
                }
            }
            &::before{
                content: '';
                width: 75%;
                height: 75%;
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                border-radius: 100%;
                border: 3px solid var(--quaternary);
                z-index: 0;
                background-color: var(--secondary);
            }
        }
    }
}